<a id='top'></a>

# CSCI3022 F20
# Homework 1: Data Cleaning and Exploratory Data Analysis 
***

**Name**: Jonathan Phouminh

***

This assignment is due on Canvas by **MIDNIGHT on Friday September 4**. Your solutions to theoretical questions should be done in Markdown directly below the associated question.  Your solutions to computational questions should include any specified Python code and results as well as written commentary on your conclusions.  Remember that you are encouraged to discuss the problems with your classmates, but **you must write all code and solutions on your own**.

**NOTES**: 

- Any relevant data sets should be available on Canvas. To make life easier on the graders if they need to run your code, do not change the relative path names here. Instead, move the files around on your computer.
- If you're not familiar with typesetting math directly into Markdown then by all means, do your work on paper first and then typeset it later.  Remember that there is a [reference guide](https://math.meta.stackexchange.com/questions/5020/mathjax-basic-tutorial-and-quick-reference) linked on Canvas on writing math in Markdown. **All** of your written commentary, justifications and mathematical work should be in Markdown.
- Because you can technically evaluate notebook cells is a non-linear order, it's a good idea to do Kernel $\rightarrow$ Restart & Run All as a check before submitting your solutions.  That way if we need to run your code you will know that it will work as expected. 
- It is **bad form** to make your reader interpret numerical output from your code.  If a question asks you to compute some value from the data you should show your code output **AND** write a summary of the results in Markdown directly below your code. 
- 95 points of this assignment are in problems.  The remaining 5 are for neatness, style, and overall exposition of both code and text.
- This probably goes without saying, but... For any question that asks you to calculate something, you **must show all work and justify your answers to receive credit**. Sparse or nonexistent work will receive sparse or nonexistent credit. 

---
**Shortcuts:**  [Problem 1](#p1) | [Problem 2](#p2) | [Problem 3](#p3) | [Problem 4](#p4) |
---

In [98]:
import pandas as pd
import numpy as np
import matplotlib.pylab as plt
%matplotlib inline

[Back to top](#top)

<br>

<a/ id='p1'></a>

### (20 points) Problem 1: Theory (Sampling)
***

<img style="float: left; width: 200px; padding: 3mm;" src="https://upload.wikimedia.org/wikipedia/commons/5/57/Acme_ballot_box_-_Smithsonian.jpg" alt="A ballot box"/>  
You are the head of a news outlet on election day. You have embedded journalists in key U.S. States in order sample voters at different polling stations in the states. Once your journalists choose a polling station, they monitor the station for the election day. The journalists then report back the number of votes for each candidate, which is recorded in a special App on your phone, called Hippocampus. Overall, your team collected data from 6 polling stations in Alaska, 36 polling stations in Ohio, 12 polling stations in Colorado, 6 polling stations in Iowa, and 42 polling stations from California.

You want to get a sense of the average amount of votes for each candidate per polling station, so you use the Hippocampus app to randomly choose 1 polling station in Alaska, 6 polling stations in Ohio, 2 polling stations in Colorado, 1 polling station in Iowa, and 7 polling stations from California.

$$ \quad $$
    
**Part A:** Identify the following: 

- the population 
- the sample frame 
- the sample 
- the type of sample 
- the quantity of interest

__Solution:__ 

    1. The population is all people who can vote.
    2. The sample frame is the Voters who have in Alaska (6 stations), Ohio (36 stations), Colorado (12 stations), Iowa, and California (42 stations)
    3. The sample were the voters that have voted in those states that voted in the polling stations whose data has been chosen to be collected
    4. Stratified Sample
    5. The average vote count for each candidate in for the polling stations whose data is being collected.

**Part B:** You repeat your sampling, again using the Hippocampus app. Now, you order the stations alphabetically by State and choose every 3rd data value. 
    
Identify the following: 

- the population 
- the sample frame 
- the sample 
- the type of sample 
- the quantity of interest

__Solution:__

   1. The population remains all people who can vote
   2. The sample frame remains all voters who are in Alaska, Ohio, Colorado, Iowa, and California
   3. The sample is the voters who voted at the polling station that has been chosen 
   4. Systemic Sampling
   5. the average vote count for each candidate in the polling stations whose data is being collected.

[Back to top](#top)

<br>

<a/ id='p2'></a>

### (20 points) Problem 2: Theory and Computation (Means and Medians)
***

A method to investigate the sensitivity of the sample mean and sample median to extreme outliers and changes in the dataset is to replace one or more elements in a given dataset by a number $y$ and investigate the effect when $y$ changes. To illustrate this, consider the following dataset:
 
$$  4.2 \quad 5.1 \quad 5.0 \quad y \quad 3.8 \quad 4.1 \quad 5.5 \quad 1.9 $$

**Part A:** Compute the sample mean and sample median for $y=1.5$. Then compute both quantities again for $y=6$.

In [166]:
import math
print("let y = 1.5")
value1 = [4.2, 5.1, 5.0, 1.5, 3.8, 4.1, 5.5, 1.9 ]
mean1 = (sum(value1)) / 8.0
value1.sort() # even array 
median = (value1[3] + value1[4]) / 2
print("MEAN: ", mean1)
print("MEDIAN: ", median)
print()


print("let y = 6")
value2 = [4.2, 5.1, 5.0, 6, 3.8, 4.1, 5.5, 1.9 ]
mean2 = (sum(value2)) / 8.0
value2.sort()
median2 = (value2[3] + value2[4]) / 2
print("MEAN: ", mean2)
print("MEDIAN: ", median2)

let y = 1.5
MEAN:  3.8875
MEDIAN:  4.15

let y = 6
MEAN:  4.45
MEDIAN:  4.6

**Part B:** Is there a value for $y$ that would make the mean of the data equal to 6? If so, calculate the value of $y$ that makes the mean equal to 6. If not, clearly explain why not.

__Solution:__

This problem boils down to a basic algebra equation where we just solve for y when the mean is 6. 

The value can be calculated we just need to set the equation of finding the mean of the data set equal to 6. We then proceed by just solving for y. Once you solve the equation the value of y that gets the mean equal to 6 is 18.4

In [100]:
# just to help me crunch the numbers
sample = [4.2, 5.1, 5.0, 3.8, 4.1, 5.5, 1.9 ]   # data set without y 
sampleSum = sum(sample)
print(48-sampleSum)  # this is the value of y


desiredSample = [4.2, 5.1, 5.0, 1.5, 3.8, 4.1, 5.5, 1.9 , 18.4]
print(sum(desiredSample) / 8)

18.4
6.1875

**Typeset and/or code your solution to part B in this cell or cells**

**Part C**: Compute the sample variance and the sample standard deviation for the original dataset given in part A, with $y=6$.

In [160]:
sample = [4.2, 5.1, 5.0, 6.0, 3.8, 4.1, 5.5, 1.9 ]

# first compute the mean 
sample_sum = sum(sample)
mean = sample_sum / len(sample)

# actually calculating the variance
mathprocess = lambda x: pow((x - mean),2)
updatedSample = map(mathprocess,sample)
summation = sum(updatedSample)

# calculating the variance 
Variance = (1/(len(sample)-1)) * summation
print("VARIANCE: ", Variance)

# calculating the standard deviation 
print("STANDARD DEVIATION: ", math.sqrt(Variance))

VARIANCE:  1.6199999999999999
STANDARD DEVIATION:  1.2727922061357855

**Part D**: Compute the sample median for the following cases: 
- $y=5$ 
- $y=50$ 
- $y=4.36$ 
- $y \to \infty$ 
- $y \to -\infty$

In [102]:
def computeMedian(givenArray) :
    givenArray.sort()
    if len(givenArray) % 2  == 0 : # n is even
        x1_index = (len(givenArray) // 2) - 1 
        x2_index = len(givenArray) // 2
        print("MEDIAN: ", (givenArray[x1_index] + givenArray[x2_index]) / 2)
    else:   # n is odd
        median_index = len(givenArray) // 2
        print(median_index)
    
y1 = [4.2, 5.1, 5.0, 5.0, 3.8, 4.1, 5.5, 1.9 ] # y = 5.0
y2 = [4.2, 5.1, 5.0, 50.0, 3.8, 4.1, 5.5, 1.9 ] # y = 50.0 
y3 = [4.2, 5.1, 5.0, 4.36, 3.8, 4.1, 5.5, 1.9 ] # y = 4.36
y4 = [4.2, 5.1, 5.0, float('inf'), 3.8, 4.1, 5.5, 1.9 ] # y = infinity
y5 = [4.2, 5.1, 5.0, float('-inf'), 3.8, 4.1, 5.5, 1.9 ] # y = -infinity
y5 = [4.2, 5.1, 5.0, float('-inf'), 3.8, 4.1, 5.5, 1.9 ] # y = -infinity
computeMedian(y1)
computeMedian(y2)
computeMedian(y3)
computeMedian(y4)
computeMedian(y5)

MEDIAN:  4.6
MEDIAN:  4.6
MEDIAN:  4.28
MEDIAN:  4.6
MEDIAN:  4.15

**Part E**: Think about the previous parts, above, and describe in words or mathematical notation the answers to the following two questions:

- By varying $y$, what is the set of all the possible values that the sample mean could take on?
- By varying $y$, what is the set of all the possible values that the sample median could take on? Specifically, for what sets of $y$ values does the median take on its different possible values?

__Solution:__
  1. The set of all possible values of the mean would be the set from -infinity to ininity. This is true because y is part of the sample so if we are able to arbitarily change it then we can influence the mean to whatever value we wish. 
  
  2. For all values of x where x > 4.1 but less than 4.2. And for all values where x is greater than 4.2 and less than 5.0

**Part F**: Describe in words or mathematical notation, what happens to the sample standard deviation when $y$ is varied in the following ways: 
 
- $y \to \infty$ 
- $y \to \bar{x}$

__Solution:__

    1. If y approaches infinity then the variance would also approach infinity. So we expect the standard deviation to also increase 
    
    2. If y approaches the mean of the data set then it would mean that our sample set distribution would become more clustered. So, we should expect the standard deviation to decrease.

[Back to top](#top)
<a/ id='p6'></a>

## (20 pts) Problem 3: Computation (Scaling)
***
Consider the following 3 data sets:

`A=[0,1,2,3,4,5,6,7,8,9,10,11,12]`

`B=[0,0,0,12,7,18,47,25,0,13,0,35]`

`C` is the random data set generated by using `np.random.exponential(scale=43, size=1000)`

For each data set, perform the following computations in parts A, B, and C:

**Part A:** Compute and print the mean and standard deviation of the data set.

In [140]:
def calculateMean(givenArray):
    summation = sum(givenArray)
    mean = summation / len(givenArray)
    return mean
    
def calculateStandardDeviation(givenArray):
    # find the mean
    mean = calculateMean(givenArray)
    
    # actually calculating the variance
    mathprocess = lambda x: math.pow((x-mean),2)
    updatedArray = map(mathprocess,givenArray)
    summation = sum(updatedArray)
    # calculating the variance 
    Variance = (1/(len(givenArray)-1)) * summation
  
    # calculating the standard deviation
    standardDeviation = math.sqrt(Variance)
    
    return (mean, standardDeviation)
    

A = [0,1,2,3,4,5,6,7,8,9,10,11,12]
B = [0,0,0,12,7,18,47,25,0,13,0,35]
C = np.random.exponential(scale=43, size=1000)


print("     MEAN : STANDARD DEVATION")
print("A: ",calculateStandardDeviation(A))
print()
print("B: ", calculateStandardDeviation(B))
print()
print("C: ", calculateStandardDeviation(C))

     MEAN : STANDARD DEVATION
A:  (6.0, 3.8944404818493075)

B:  (13.083333333333334, 15.64061341120571)

C:  (43.41057312834883, 44.0859865498038)

**Part B:** Compute and print  the mean and standard deviation of the new data set formed by subtracting the original mean from each observation.

In [149]:
# going to just call the functions above again

def scrubValues(givenArray): 
    mean = calculateMean(givenArray)
    scrubber = lambda x: x - mean
    scrubbedValues = list(map(scrubber, givenArray))
    return scrubbedValues

D = [0,1,2,3,4,5,6,7,8,9,10,11,12]
E = [0,0,0,12,7,18,47,25,0,13,0,35]
F = np.random.exponential(scale=43, size=1000)

print("     MEAN : STANDARD DEVATION")
print("A: ", calculateStandardDeviation(scrubValues(A)))
print()
print("B: ", calculateStandardDeviation(scrubValues(B)))
print()
print("C: ", calculateStandardDeviation(scrubValues(C)))

     MEAN : STANDARD DEVATION
A:  (0.0, 3.8944404818493075)

B:  (-1.1842378929335002e-15, 15.64061341120571)

C:  (-6.7359451350057494e-15, 44.0859865498038)

**Part C:** Compute and print  the mean and standard deviation of the new data set formed by subtracting the original mean from each observation and then dividing by the original standard deviation.

In [165]:
# gathering the original calculations before modifying the data set
Original_A_Values = calculateStandardDeviation(A)
Original_B_Values = calculateStandardDeviation(B)
Original_C_Values = calculateStandardDeviation(C)

A_Values = calculateStandardDeviation(scrubValues(A))
print("A: ", "MEAN: ", A_Values[0] / Original_A_Values[1], "  STANDARD DEVIATION: ", A_Values[1] / Original_A_Values[1])
print()
B_Values = calculateStandardDeviation(scrubValues(B))
print("B: ", "MEAN: ", B_Values[0] / Original_B_Values[1], "  STANDARD DEVIATION: ", B_Values[1] / Original_B_Values[1])
print()
C_Values = calculateStandardDeviation(scrubValues(C))
print("C: ", "MEAN: ", C_Values[0] / Original_C_Values[1], "  STANDARD DEVIATION: ", C_Values[1] / Original_C_Values[1])
print()

A:  MEAN:  0.0   STANDARD DEVIATION:  1.0

B:  MEAN:  -7.571556573894049e-17   STANDARD DEVIATION:  1.0

C:  MEAN:  -1.527910717705313e-16   STANDARD DEVIATION:  1.0

**Part D:** Why might this result matter?

__Solution:__
 
   This result matters because it tells us that if the data is all changed by a fixed amount then the spread (or deviation) is not effected.

**Part E:** Looking at each of the 3 data sets, come up with a real-world context where those kind of numbers might make for reasonable observations.

__Solution:__
   
   Consider a situation of a football season and we are suppose to keep track of every teams touchdowns in a week. 
      - The first untouched data represents week one for 13 teams and how many each team scored that week
      - The second data array can represent week two of the football season but it could be the case that each team all scored as many touchdowns as they had in week one minus the average touchdowns of all teams combined. This would signify that the overall average performance of all 13 teams decreased by the average total touchdowns scored in week one. 
      - The third data set of data could be when we want to find the average spread in scores between week one and week two

[Back to top](#top)
<a/ id='p4'></a>

## (35 pts) Problem 4: Data (monthly patterns)
***

NOAA's Physical Sciences division (https://www.esrl.noaa.gov/psd) houses an enormous amount of weather data.  Load `BoulderPrecip.csv` from the course page for the last 120 years of monthly precipitation data from Boulder.  Let's take a look!

In [171]:
dfPrecip = pd.read_csv('BoulderPrecip.csv')
dfPrecip.head(40)

,Year,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,YEAR TOTAL
0,1900,0.4,1.06,0.75,9.18,1.84,0.49,0.48,0.22,1.54,0.13,0.19,0.61,16.89
1,1901,0.53,0.3,1.74,3.51,1.62,1.76,0.46,1.69,0.16,0.65,Tr,1.43,13.85
2,1902,0.37,0.48,1.48,1.01,2.32,1.46,1.26,0.53,5.46,1.44,1.29,1.34,18.44
3,1903,0.08,1.52,1.45,2.31,2.02,1.87,0.95,1.46,1.31,3.43,0.15,0.16,16.71
4,1904,0.09,0.31,2.37,1.45,5.35,2.72,1.05,1.00,1.6,1.06,0.08,0.7,17.78
5,1905,0.81,0.7,1.85,6.65,4.78,0.55,1.86,0.22,1.64,2.54,0.23,Tr,21.83
6,1906,0.22,0.17,2.45,5.32,3.37,1.56,3.81,2.50,3.13,1.8,1.87,Tr,26.2
7,1907,0.22,0.56,0.47,3.59,5.29,0.59,2.79,0.44,1.06,0.58,0.41,0.27,16.27
8,1908,0.6,0.09,0.23,0.71,3.45,0.29,2.07,3.30,1.55,2.59,1.96,1.04,17.88
9,1909,0.11,1.21,3.96,3.60,1.85,1.67,3.18,2.42,4.51,0.55,1.56,1.72,26.34
10,1910,0.2,1.39,0.05,1.34,3.38,0.48,1.58,2.69,0.48,1.05,0.27,0.53,13.44
11,1911,0.73,1.56,0.64,2.68,0.9,1.3,1.69,1.24,0.26,1.59,0.72,0.2,13.51
12,1912,0.58,1.32,2.00,1.71,2.82,1.91,3.33,1.77,2.7,1.03,0.93,0.46,20.56
13,1913,0.49,1.28,0.71,1.58,1.85,0.48,4.04,0.54,2.62,2.24,0,4.2,20.03
14,1914,0,0.08,1.77,3.38,3.57,1.7,2.32,1.97,0.25,2.69,0.31,0.29,18.33
15,1915,0.39,1.31,1.68,4.46,3.83,1.78,2.58,1.67,3.02,1.83,0.25,1.5,24.3
16,1916,0.69,0.02,1.02,2.36,3.77,0.53,1.26,1.90,1.32,4.6,1.32,0.86,19.65
17,1917,0.31,0.54,1.75,2.81,6.17,0.13,0.48,0.20,0.13,0.95,0.1,0.42,13.99
18,1918,0.68,1.18,0.72,2.98,2.03,1.28,2.54,0.57,3.62,1.1,0.78,1.36,18.84
19,1919,0,0.32,1.49,1.65,0.88,1.1,7.46,0.95,0.88,1.31,2.07,0.5,18.61
20,1920,1.22,1.39,0.58,4.07,1.61,1.87,0.68,2.55,0.73,2.43,0.72,0.85,18.7
21,1921,0.11,0.31,0.77,4.81,1.5,3.62,1.53,2.00,0.17,1.13,0.98,1.46,18.39
22,1922,0.63,0.59,0.81,3.32,1.02,0.62,1.04,1.50,Tr,1.13,2.58,0.56,13.8
23,1923,Tr,1.71,2.29,1.29,3.47,4.44,2.46,2.68,0.84,5.43,0.4,0.88,25.89
24,1924,0.33,0.36,1.77,1.98,2.77,Tr,0.38,0.47,2.06,1.47,0.16,1.33,13.08
25,1925,0.06,Tr,0.35,0.25,1.61,1.86,2.10,1.83,2.24,4.72,0.99,1.18,17.19
26,1926,0.72,0.65,2.69,3.05,3.22,0.55,1.33,2.03,0.41,0.95,0.33,1.97,17.9
27,1927,0.22,0.47,2.66,3.46,1.72,3.47,2.39,1.26,1.29,0.86,0.95,0.69,19.44
28,1928,0.07,1.71,2.72,1.55,5.48,2.84,1.34,0.66,0.23,1.78,2.09,0.04,20.51
29,1929,0.36,0.73,2.57,1.60,1.5,1.75,4.06,2.61,1.79,1.7,1.89,0.66,21.22
30,1930,0.64,0.6,0.88,0.99,2.17,1.02,2.85,3.81,0.36,0.65,1.33,0.68,15.98
31,1931,0,1.81,1.59,1.60,3.67,2.18,1.07,0.53,0.2,0.71,0.85,0.02,14.23
32,1932,0.33,1.06,1.47,2.01,1.1,1.08,1.55,1.17,0.1,1,0.42,0.56,11.85
33,1933,Tr,0.26,1.28,4.15,3.94,0.3,0.55,1.61,2.46,Tr,0.4,1.13,16.08
34,1934,0.1,1.93,1.63,2.82,3.11,1.9,0.24,0.21,1.02,0,0.84,0.22,14.02
35,1935,0.08,0.51,0.14,2.80,7.04,0.8,0.33,1.09,1.4,1.46,0.78,0.01,16.44
36,1936,0.24,0.38,2.88,1.25,2.75,2.85,0.99,3.73,1.86,2.71,0.25,0.36,20.25
37,1937,0.34,0.58,0.83,2.01,2.31,3.91,0.82,0.91,0.69,0.58,0.44,2.16,15.58
38,1938,0.6,0.59,2.59,4.42,4.38,2.82,3.31,1.32,5.21,0.68,2.13,1.04,29.09
39,1939,0.83,0.88,1.68,1.94,1.74,0.84,0.27,0.94,0.69,0.99,0.05,0.26,11.11

**Part A:** SCRUBBING!  Our data set is going to be tough to use for a few reasons.

1) When the amount of precipitation was nonzero but too small to be recorded, this data set recorded `tr`.  Replace these with zeroes.

2) 2020 isn't over yet!  We have one row at the bottom that isn't fully complete and NA values have been filled into the months that haven't happened yet.  This can wreak havoc on a lot of our methods!  Drop the 2020 data entirely.

3) You may have some object typing issues relating to columns that contained both "Tr"/"NA" and numeric values.  Ensure that Python is treating all of your data as numeric!

In [9]:
# Replace all 'Tr' with

**Part B:** Generate a series of 12 box plots with month as the x axis and precipitation on the y-axis.

In [10]:
#Your code here


**Part C:** Spring is the wet season in Boulder.   But what is Spring?

Atmospheric scientists love to group months seasonally, breaking the year into a Winter season including December, January, February; a Spring including March, April, and May; and so forth.

The solar year, however, says that Spring runs from near the end of March until near the end of June: let's round at the nearest month and say that it includes the months of April, May and June.

Generate a box plot with precipitation on the y-axis and the two possible monthly 'Spring' groupings (March-May versus April-June) as the x-axis.

In [11]:
#Your code here

**Part D:** These might look pretty similar!  Highlight and comment on any differences by calculating the mean, standard deviation, and a Tukey five number summary of each classification of Spring.  Is there a reason here to favor one grouping over the other?

In [12]:
#Code here

**Typeset your analysis to part D in this cell or cells**

**Part E:** Create a density histogram of the September precipitation.  Classify and describe this histogram, including discussion of any skewness, multimodality, or outliers.  Find the data point associated with September, 2013, and recreate your histogram with that value in a different color or otherwise clearly marked.

In [13]:
# September code here

**Typeset your analysis for part E in this cell or cells**